version: "3.8"

services:
  api:
    build:
      context: ./backend
    ports:
      - "3000:3000"
    depends_on:
      - mongo
    volumes:
      - ./backend:/app
    restart: always

  mongo:
    image: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  frontend:
    build:
      context: ./frontend
    ports:
      - "80:80"
    depends_on:
      - api
    restart: always

volumes:
  mongo-data:
